img {
  width: 50px;
  display: block;
  margin: auto;
}
body {
  background-image: linear-gradient(white, #77acf1);
  vh: 100px;
}
.messages {
  max-width: 965px;
  height: 70vh;
  margin: auto;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.message {
  margin: 17px 24px;
  background-color: gray;
  border: solid;
  border-radius: 6px;

  width: 25%;
  padding: 10px;
}
.incoming {
  float: right;
  clear: both;
  /* position: right; */
}
.outgoing {
  float: left;
  clear: both;
  position: left;
}
.send {
  text-align: center;
  max-width: 900px;
  width: 100%;
}
#messageInput {
  width: 80%;
  border-radius: 6px;
}

.buttonHolder {
  /* margin: 0   */
  width: 20%;
}

.button {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  float: right;
  height: 70px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 70px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.tick:after {
  content: "✔";
  left: 23px;
  top: 20px;
}
.button:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color: #0088cc;
}
.tick:hover:after {
  color: #83d244;
  text-shadow: 0px 0px 6px #83d244;
}
.button:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.button:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4),
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
